@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  color: #fcfbf5;
    background-color: #181a1f;
    background-image: url(https://uploads-ssl.webflow.com/63fcd79d410b22ddf397e1b8/64ca7e9ce5fb2a2371e3803f_background.webp);
    background-position: 0 0,0 0;
    background-repeat: repeat,repeat;
    background-size: auto,auto;
    font-size: 1rem;
}